@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/***********     UTILITIES     ************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;  
}
a{
    text-decoration: none;
}
h1{     
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    word-spacing: 3px;
    color: #111;
    font-weight: 400;
    margin: 15px;
    text-align: center;
    font-size: 35px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    background: #111;
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: #111;
    text-transform: uppercase;
    background: transparent;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 12px;
    border: 2px solid #111;
    border-radius: 25px;
    margin: 10px auto 15px;
    transition: all 0.5s ease;
}
.btn:hover{
    background: #111;
    color: #fff;
}


/***********     SECTION-ONE     ************/
.section-one {
    padding: 40px 70px 20px 50px;
    width: 100%;
    text-align: center;
    background-color: rgb(144, 75, 255);
}
.one-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.one-in1{
    display: flex;

}
.one-in1 img{
    width: 200px;
    height: 200px;
    border: 7px solid white;
    border-radius: 50%;
}    
.one-in1 h2{
    transform: translateY(45px);
    padding: 20px;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 1px ;
    text-align: left;
}
.one-in1 h2 span{
    font-size: 15px;

}
.one-in2{
    text-align: left;
    display: flex;
    flex-direction: column;
}
.one-dip{
    padding: 10px;
    display: flex;
}
.one-dip p{
    font-size: 18px;
    margin-left: 20px;
    font-weight: 600;
}
.one-dip2{
    padding: 10px;
}
.one-dip2 p i{
    justify-content: space-between;
    padding: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 18px;
}



/***********     SECTION-TWO     ************/
.section-two {
    width: 100%;
    padding: 20px 50px 30px 50px;
}
.two-data {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.two-in1{
    transform: translateX(40px);
    width: 500px;
}
.two-in1 h3{
    font-size: 25px;
    margin-bottom: 5px;
}
.two-in1 p{
    font-size: 20px;
}
.two-in2{
    transform: translateX(100px);
}
.two-in2 p{
    line-height: 1.5;
    font-weight: 700;
    font-size: 20px;
}
.two-in2 p span{
    font-weight: 300;
}


/***********     SECTION-THREE     ************/
.section-three{
    width: 100%;
    padding: 20px 0px 40px 40px;
    background-color:rgb(58, 118, 153);
}
.three-data{
    display: flex;
    justify-content: space-evenly;
}
.three-in1{
    width: 80%;
    overflow: auto;
}
.three-in1 table{
    border-collapse: collapse;
    height: 350px;
    text-align: center;
}
.three-in1 thead th{
    position: sticky;
    top: 0;
    background-color: rgb(6, 2, 63);
    color: white;
    font-size: 14px;
    font-weight: 700;
}
th,td{
    border: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 14px;
}
tr:nth-child(even){
    background-color: #E6E7E8;
}
tr:nth-child(odd){
    background-color: #EDEEF1;
}
tr:hover td{
    color:rgb(63, 103, 214);
    cursor: pointer;
    background-color:#fff;
}
::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.three-in2{
    transform: translateX(-200px);
    display: flex;
    flex-direction: column;
    border-left: 2px solid red;
    padding: 0 20px 0 30px;
    height: 350px;
}
.three-dip{
    display: flex;
    background-color: transparent;
    padding: 10px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    line-height: 1.5;
    position: relative;
    height: 100px;
}
.three-dip:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
    border: 3px solid #ddd;
    position: absolute;
    top: 10px;
    left: -40px;
}
.three-dip:after{
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent #ddd transparent transparent;
    border-width: 8px;
    position: absolute;
    left: -17px;
    top: 10px;
}
.three-dip h2{
    margin: 0;
    font-size: 25px;
}
.three-dip i{
    padding: 5px 20px 0px 10px;
    font-size: 25px;
}

/***********     SECTION-FOUR     ************/
.section-four {
    background-color: rgb(109, 250, 163);
    padding: 30px;
}
.four-data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.four-in {
    border: 1px solid black;
    height: 320px;
    width: 400px;
    padding: 20px;
}
.four-in h2{
    font-size: 23px;
    margin-bottom: 15px;
}
.four-in ul{
    margin-left: 10px;
}
.four-in li{
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}
.four-in li span{
    font-weight: 300;
}


/***********     SECTION-FIVE     ************/
.section-five{
    width: 100%;
    padding: 20px;
}
.section-five h1{
    text-align: left;
    margin: 0 auto 20px;
}
.five-data{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.five-in1{
    margin: 30px;
    justify-content: left;
}
.five-in1 p{
    font-size: 25px;
}
.five-in2 i{
    align-items: center;
}